.txt {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px auto;
}
.form-control {
    width: 450px;
    height: 30px;
    color: black;
    /* border: 1px solid;*/
    user-select: none;
    /*outline:none;*/
    border:1px solid;
    border-radius: 3px;
    /*border-left: 2px  solid;*/
}
.btn { 
    background-color: #FFFFFF; 
    border: 1px solid;
    border-radius: 5px;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 5px;
}
.col-md-10 {
    display:flex;
    justify-content:center;
}
.btn:hover {
    cursor: pointer;
}
.title{
    text-align:center;
}