<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/TW2.css">
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <div class="web">
        <div class="header">
            <ul class="list">
                <a class="item1" href="~/Home/Index">Trang chủ</a>
                <a class="item1" href="">Giới thiệu</a>
            </ul>
            <ul class="list">
                <a class="item1" href="">Đăng nhập</a>
                <a class="item1" href="">Đăng ký</a>
            </ul>
        </div>
        <div class="main">
            <div class="menu">
                <ul class="list2">
                    <h2>Menu</h2>
                    <a class="item2" href="~/DSKHACH/ShowList">Khách hàng</a>
                    <a class="item2" href="~/DSPHONG/ShowList">Phòng</a>
                    <a class="item2" href="~/DSPHUONGTIENDICHUYEN/ShowList">Phương tiện di chuyển</a>
                    <a class="item2" href="~/DSTUYENDULICH/ShowList">Tuyến du lịch</a>
                    <a class="item2" href="~/DSCHUYENDI/ShowList">Chuyến đi</a>
                    <a class="item2" href="~/DSDANGKY/ShowList">Đăng ký</a>
                </ul>
            </div>
            <div class="content">
                <div class="cnt">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="bottom">
            <ul class="list3">
                <i class="fa-brands fa-github"></i>
                <a class="item3" href="" target="_blank">Github</a>
            </ul>
            <ul class="list3">
                <i class="fa-brands fa-facebook"></i>
                <a class="item3" href="" target="_blank">Facebook</a>
            </ul>
        </div>
    </div>
</body>
</html>