@model QLTDL22.Models.tbKHACH

@{
    ViewBag.Title = "Delete_TB";
    Layout = "~/Views/Share/_LayoutUSE.cshtml";
}
<style>
</style>
<p>
    Không thể xóa
</p>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Xóa" class="btn" />
        @Html.ActionLink("Trở về", "ShowList", "", new { @class = "btn" })
    </div>
</div>

